.vs/
.vscode/
.idea/

bin/
obj/
out/
dist/

node_modules/
coverage/

*.user
*.rsuser
*.suo
*.cache
*.bin
*.v2
*.log
*.tmp
*.temp

**/DocumentLayout.json
**/DocumentLayout.backup.json

appsettings.Development.json
.env
.env.*
